@model Library.Models.Entity.Author
@{
    ViewBag.Title = "YazarEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Yazar Adı</label>
        @Html.TextBoxFor(y => y.AuthorName, new { @class = "form-control" })
        @Html.ValidationMessageFor(y => y.AuthorName, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <label>Yazar Soyadı</label>
        @Html.TextBoxFor(y => y.AuthorSurname, new { @class = "form-control" })
        @Html.ValidationMessageFor(y=>y.AuthorSurname, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <label>Detay</label>
        @Html.TextAreaFor(y => y.Detail, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Ekle</button>
    </div>
</form>

