@using Library.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Member>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>ÜYELER</h2>

<table class="table table-bordered">
    <tr style="background-color:rgb(252, 178, 22)">
        <th>ÜYE ID</th>
        <th>ÜYE ADI</th>
        <th>ÜYE SOYADI</th>
        <tH>OKUL</tH>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>Kitap Geçmişi</th>
    </tr>

    @foreach (var uye in Model)
    {
        <tr>
            <td>@uye.Id</td> @*uye den gelen Id adı *@
            <td>@uye.MemberName</td>
            <td>@uye.MemberSurname</td>
            <td>@uye.School</td>
            <td><a href="/Member/UyeSil/@uye.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Member/UyeGetir/@uye.Id" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Member/UyeKitapGecmis/@uye.Id" class="btn btn-success" style="background-color:lightsalmon">Kitap Geçmişi</a></td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model,sayfa=> Url.Action("Index", new { sayfa}))
<a href="/Member/UyeEkle/" class="btn btn-primary">Yeni Üye Ekle</a>
