@model Library.Models.Entity.Member
@{
    ViewBag.Title = "UyeEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Üye Adı</label>
        @*<input type="text" class="form-control" name="Staff1" />*@
        @Html.TextBoxFor(x => x.MemberName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.MemberName, "", new { @style = "color:red" }) @*arka planda çağrılan mesajı görüntülemek icin yazdık. ve mesajı arkadan cagırıdgımız ini "" kullandık*@
    </div>
    <div style="margin-top:15px">
        <label>Üye Soyadı</label>
        @Html.TextBoxFor(x => x.MemberSurname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.MemberSurname, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <label>Email</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Email, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.UserName, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <label>Şifre</label>
        @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Password, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <label>Fotoğraf Linki</label>
        @Html.TextBoxFor(x => x.Photo, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Photo, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <label>Telefon</label>
        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Phone, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <label>Okul</label>
        @Html.TextBoxFor(x => x.School, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.School, "", new { @style = "color:red" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1">Ekle</button>
    </div>


</form>


